Task 1

In [ ]:


try:
   
    f = float(input("Enter a temperature in degrees F: "))
    c = (f - 32) * 5 / 9
    print(f"{f} degrees F = {round(c, 2)} degrees C\n")

    c = float(input("Enter a temperature in degrees C: "))
    f = c * 9 / 5 + 32
    print(f"{c} degrees C = {round(f, 2)} degrees F")

except ValueError:
    print("Please enter a valid number.")

72.0 degrees F = 22.22 degrees C

Task 2

In [2]:

def invest(amount, rate, years):
    for year in range(1, years + 1):
        amount += amount * rate
        print(f"year {year}: ${amount:.2f}")

def main():
    try:
        amount = float(input("Enter the initial investment amount: "))
        rate_percent = float(input("Enter the annual rate of return (as %): "))
        years = int(input("Enter the number of years: "))

        rate = rate_percent / 100  # Convert percentage to decimal
        print()  # Blank line before output
        invest(amount, rate, years)

    except ValueError:
        print("Please enter valid numeric values.")

if __name__ == "__main__":
    main()

Please enter valid numeric values.

Task 3

In [3]:


try:
    num = int(input("Enter a positive integer: "))

    if num <= 0:
        print("Please enter a positive integer.")
    else:
        for i in range(1, num + 1):
            if num % i == 0:
                print(f"{i} is a factor of {num}")

except ValueError:
    print("Please enter a valid integer.")

1 is a factor of 12
2 is a factor of 12
3 is a factor of 12
4 is a factor of 12
6 is a factor of 12
12 is a factor of 12

Task 4

In [4]:


universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]

def enrollment_stats(data):
    students = []
    tuitions = []
    for uni in data:
        students.append(uni[1])
        tuitions.append(uni[2])
    return students, tuitions

def mean(values):
    return sum(values) / len(values)

def median(values):
    sorted_vals = sorted(values)
    n = len(sorted_vals)
    mid = n // 2
    if n % 2 == 0:
        return (sorted_vals[mid - 1] + sorted_vals[mid]) / 2
    else:
        return sorted_vals[mid]

student_list, tuition_list = enrollment_stats(universities)
total_students = sum(student_list)
total_tuition = sum(tuition_list)
mean_students = mean(student_list)
median_students = median(student_list)
mean_tuition = mean(tuition_list)
median_tuition = median(tuition_list)

print("******************************")
print(f"Total students: {total_students:,}")
print(f"Total tuition: $ {total_tuition:,}")
print()
print(f"Student mean: {mean_students:,.2f}")
print(f"Student median: {int(median_students):,}")
print()
print(f"Tuition mean: $ {mean_tuition:,.2f}")
print(f"Tuition median: $ {int(median_tuition):,}")
print("******************************")

******************************
Total students: 77,285
Total tuition: $ 271,905

Student mean: 11,040.71
Student median: 10,566

Tuition mean: $ 38,843.57
Tuition median: $ 39,849
******************************

Task 5

In [8]:
def is_prime(n):
    if n <= 1:
        return False  
    if n == 2:
        return True   
    if n % 2 == 0:
        return False  

    for i in range(3, int(n ** 0.5) + 1, 2):
        if n % i == 0:
            return False
    return True
print(is_prime(2))   
print(is_prime(11))  
print(is_prime(15))  
print(is_prime(1))   
print(is_prime(97))

True
True
False
False
True